/* CONFIGURAÇÃO DO CORPO DO SITE*/
body{
    height: 97vh;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) ,url("netflixtela.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}
/*CONFIGURAÇÃO DO CONTEÚDO INICIAL*/
.Nomenetflix{
    color:#E50914;
    font-family: sans-serif;
    display: flex;
    margin: 40px auto 14px auto;
    font-size:40px ;
    
}
.tela{
    display:inline;
    text-align: center;
}
.botaoinicio{
    display: flex;
    justify-content: right;
    margin-top: -60px ;
    margin-right: 150px;
    
}
.Botaoentrar{
    display: inline;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: right;
    background-color: #E50914;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
}

/*CONFIGURAÇÃO DO MAIN*/
.conteudomain{
    display: flex;
    text-align: center;
    justify-items: center;
}
.titulomain{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;

}
.paragrafomain1{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size:20px ;
    text-align:center;
    
}
.paragrafomain{
    color: white;
    font-family: sans-serif;
    text-align: center;
}
.caixa{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.caixaemail{
    width: 350px;
    padding: 18px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); 
    text-align: left;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
   
    
}
.botao-vamos-la{
    justify-items: center;
    background-color: #E50914;
    color: white;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding:17px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius:5px;

}
.botao-vamos-la:hover{
    color: #c11119;

}
.botaolink{
    text-decoration: none;
    color: white;
}